## Estructuras de datos. Librería Pandas (I).

![logo](img/pandas-logo.png)

# Sumario
- Series y DataFrame
- Indexación, slicing
- Grabar y cargar a archivo
- MovieLens dataset

# Pandas
- Librería (de facto estándar) para estructurar datos tabulares
- Multivariable (string, int, float, bool...)
- Dos clases de estructuras de datos:
  - Series (1 dimensión)
  - DataFrames (2+ dimensiones)

In [1]:
# librería externa
import pandas as pd
from pandas import Series, DataFrame
import warnings
warnings.filterwarnings("ignore")

# Series
- Datos unidimensionales (similar a NumPy)
- Elementos + índices modificables

In [2]:
countries = pd.Series(['Spain','Andorra','Gibraltar','Portugal','France'])
print(countries)

0        Spain
1      Andorra
2    Gibraltar
3     Portugal
4       France
dtype: object

In [3]:
# especificando el índice
countries = pd.Series (['Spain','Andorra','Gibraltar','Portugal','France'],
                       index=range(10,60,10))
print(countries)

10        Spain
20      Andorra
30    Gibraltar
40     Portugal
50       France
dtype: object

In [4]:
# los índices pueden ser de más tipos
football_cities = pd.Series(['Barcelona','Madrid','Valencia','Sevilla'], 
                            index=['a','b','c','d'])
print(football_cities)

a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
dtype: object

In [5]:
# Atributos
football_cities.name = 'Ciudades con dos equipos en primera' # nombrar la Serie
football_cities.index.name = 'Id' # Describir los índices
print(football_cities)

Id
a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [6]:
# acceso similar a NumPy o listas, según posición
print(football_cities[2])

# acceso a través del índice semántico
print(football_cities['c'])

print(football_cities['c'] == football_cities[2])

Valencia
Valencia
True

# Tratamiento similar a ndarray

In [7]:
# múltiple recolección de elementos
print(football_cities[ ['a','c'] ])
print(football_cities[ [0, 3] ])

Id
a    Barcelona
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [8]:
# slicing
print(football_cities[:'c']) # incluye ambos extremos con el indice semantico
print(football_cities[:2])

Id
a    Barcelona
b       Madrid
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
b       Madrid
Name: Ciudades con dos equipos en primera, dtype: object

In [10]:
#casting de una lista
lista = list(football_cities[:'c'])
print(lista)

['Barcelona', 'Madrid', 'Valencia']

In [11]:
# uso de masks para seleccionar
fibonacci = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21])
mask = fibonacci > 10
print(mask)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [12]:
print(fibonacci[mask])

7    13
8    21
dtype: int64

In [13]:
# aplicar funciones de numpy a la serie
import numpy as np

np.sum(fibonacci)

np.int64(54)

In [14]:
#filtrado con np.where
distances = pd.Series([12.1,np.nan,12.8,76.9,6.1,7.2])
# la función np.where devuelve un array con los valores que cumplen la condición
valid_distances = np.where(pd.notnull(distances),distances,0) # np.where(<condición>,<valor verdadero>,<valor falso>
print(valid_distances)

[12.1  0.  12.8 76.9  6.1  7.2]

### Iteración

In [15]:
# iterar sobre elementos (values)
for value in fibonacci:
    print('Value: ' + str(value))

# iterar sobre indices
for index in fibonacci.index:
    print('Index: ' + str(index))

Value: 0
Value: 1
Value: 1
Value: 2
Value: 3
Value: 5
Value: 8
Value: 13
Value: 21
Index: 0
Index: 1
Index: 2
Index: 3
Index: 4
Index: 5
Index: 6
Index: 7
Index: 8

In [16]:
# iterar sobre elementos e índices al mismo tiempo
for index, value in fibonacci.items():  #.iteritems()
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

In [17]:
for index, value in zip(fibonacci.index, fibonacci):
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

## Series como diccionarios
- Interpretar el índice como clave
- Acepta operaciones para diccionarios

In [18]:
# crear una serie a partir de un diccionario
serie = pd.Series( { 'Carlos' : 100, 'Marcos': 98} )
print(serie.index)
print(serie.values)
print(serie)

Index(['Carlos', 'Marcos'], dtype='object')
[100  98]
Carlos    100
Marcos     98
dtype: int64

In [19]:
# añade y elimina elementos a través de índices
serie['Pedro'] = 12
del serie['Marcos']
print(serie)

Carlos    100
Pedro      12
dtype: int64

In [20]:
# query una serie
if 'Carlos' in serie:
    serie['Carlos'] = 2
    
print(serie)

Carlos     2
Pedro     12
dtype: int64

## Operaciones entre series

In [21]:
# suma de dos series
# suma de valores con el mismo índice (NaN si no aparece en ambas)
serie1 = pd.Series([10,20,30,40],index=range(4) )
serie2 = pd.Series([1,2,3],index=range(3) )
print(serie1 + serie2)

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [22]:
# resta de series (similar a la suma)
print(serie1 - serie2)

0     9.0
1    18.0
2    27.0
3     NaN
dtype: float64

In [23]:
# operaciones de pre-filtrado
result = serie1 + serie2
print(pd.isnull(result))
result[pd.isnull(result)] = 0 # mask con isnull()
print(result)

0    False
1    False
2    False
3     True
dtype: bool
0    11.0
1    22.0
2    33.0
3     0.0
dtype: float64

###  Diferencias entre Pandas Series y diccionario
* Diccionario, es una estructura que relaciona las claves y los valores de forma arbitraria.
* Series, estructura de forma estricta listas de valores con listas de índice asignado en la posición.
* Series, es más eficiente para ciertas operaciones que los dicionarios.
* En las Series los valores de entrada pueden ser listas o Numpy arrays.
* En Series los índices semánticos pueden ser integers o caracteres, en los valores igual.
* Series se podría entender entre una lista y un diccionario Python, pero es de una dimensión.

# DataFrame
- Datos tabulares (filas x columnas)
- Columnas: Series con índices compartidos

<img src="img/pandas-dataframe.png" width="600">

In [22]:
import pandas as pd
import numpy as np

In [24]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], 
                "Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario)
display(frame)

   Nombre  Edad
0  Marisa    34
1   Laura    29
2  Manuel    12

In [35]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], 
                "Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario, index = ['a', 'b', 'c'])
display(frame)

   Nombre  Edad
a  Marisa    34
b   Laura    29
c  Manuel    12

In [26]:
# además de 'index', el parámetro 'columns' especifica el número y orden de las columnas
frame = pd.DataFrame(diccionario, columns = ['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])
display(frame)

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN
2          NaN  Manuel    12       NaN

In [27]:
# acceso a columnas
nombres = frame['Nombre']
display(nombres)
type(nombres)

0    Marisa
1     Laura
2    Manuel
Name: Nombre, dtype: object

pandas.core.series.Series

In [28]:
#siempre que el nombre de la columna lo permita (espacios, ...)
nombres = frame.Nombre
display(nombres)
type(nombres)

0    Marisa
1     Laura
2    Manuel
Name: Nombre, dtype: object

pandas.core.series.Series

In [29]:
# acceso al primer nombre del DataFrame frame??
print(frame['Nombre'][0])
print(frame.Nombre[0])
print(nombres[0])

Marisa
Marisa
Marisa

### Formas de crear un DataFrame
* Con una Serie de pandas
* Lista de diccionarios
* Dicionario de Series de Pandas
* Con un array de Numpy de dos dimensiones
* Con array estructurado de Numpy

In [30]:
# Usando una serie para crear un DF
data = pd.DataFrame (pd.Series([1,2,3,4]))
data

   0
0  1
1  2
2  3
3  4

In [10]:
data = pd.DataFrame (pd.Series([1,2,3,4],[10,20,30,40]),columns=['Valores']) # índices
data

    Valores
10        1
20        2
30        3
40        4

In [20]:
col1 = pd.Series([1,2,3,4])
col2 = pd.Series([10,20,30,40])
matriz ={ 'Col1' : col1, 'Col2' : col2 } # diccionario
data = pd.DataFrame(matriz) # filas y columnas
data

   Col1  Col2
0     1    10
1     2    20
2     3    30
3     4    40

In [31]:
# Usando lista de diccionarios
persona1 = {"Nombre": "Marisa","Apellido":"Perez","Edad":15}
persona2 = {"Nombre": "Juan","Apellido":"Martin","Edad":20}
persona3 = {"Nombre": "Ramon","Apellido":"Sanchez","Edad":69}
personas = pd.DataFrame([persona1,persona2,persona3])
personas

   Nombre Apellido  Edad
0  Marisa    Perez    15
1    Juan   Martin    20
2   Ramon  Sanchez    69

In [32]:
personasConIndice = pd.DataFrame([persona1,persona2,persona3], index=['a','b','c'])
personasConIndice

   Nombre Apellido  Edad
a  Marisa    Perez    15
b    Juan   Martin    20
c   Ramon  Sanchez    69

In [19]:
# Diccionario de series de Pandas

diccio = ({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5})
notas = Series(diccio)
notas

Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

In [20]:
calificaciones = pd.DataFrame(notas)
calificaciones

                0
Matemáticas   6.0
Economía      4.5
Programación  8.5

In [22]:
# Crear dataframe a partir de array de Numpy
import numpy as np
array = np.random.randn(4, 3)
array

array([[ 1.23855854,  0.73094093,  1.85901927],
       [-0.09233709, -0.1435708 , -0.94461243],
       [-0.22383761, -0.27059857,  0.81248573],
       [ 0.15500018,  1.72469697, -0.56022741]])

In [23]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0  0.700254  0.065597  1.458776
1 -0.593532 -1.142600  0.432103
2  1.811079  1.039241  0.501358
3 -1.259731 -0.702888  0.822514

In [25]:
# a partir de array Numpy estructurado
datos = np.array([[2,3,4],
                  [5,6,7],
                  [8,9,10]])
datos_df =pd.DataFrame(datos)

print(datos_df)
datos_df

   0  1   2
0  2  3   4
1  5  6   7
2  8  9  10

   0  1   2
0  2  3   4
1  5  6   7
2  8  9  10

In [32]:
# Crear un dataframe con números aleatorios de 4 Columnas y 5 Filas
# Crear listas rápidamente usando la función split 'A B C D E'.split()
# Esto evita tener que escribir repetidamente las comas

df = pd.DataFrame(np.random.randn(6,4), # 6 filas, 4 columnas
                  index='A B C D E F'.split(), # índices/etiquetas filas
                  columns='W X Y Z'.split() ) # columnas
df

          W         X         Y         Z
A  0.234310  0.557859 -0.729418  0.917281
B -0.747108 -0.151848  1.153793 -1.197957
C -1.452687  3.276811  1.188434  0.871472
D  0.718764  0.333847 -0.752573 -0.688583
E  1.035514  1.391175 -0.792888 -0.446024
F -0.603811  0.060278  0.886645 -1.462438

## Modificar DataFrames

In [36]:
# añadir columnas
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])
frame['Direccion'] = 'Desconocida' # añadir una columna con un valor constante
display(frame)

  Nacionalidad  Nombre  Edad Profesion    Direccion
0          NaN  Marisa    34       NaN  Desconocida
1          NaN   Laura    29       NaN  Desconocida
2          NaN  Manuel    12       NaN  Desconocida

In [37]:
# añadir fila (requiere todos los valores)
user_2 = ['Alemania','Klaus',39, 'none', 'Desconocida']
# user_2 = ['Alemania', 'none', 'Desconocida']
frame.loc[len(frame)] = user_2
display(frame)

  Nacionalidad  Nombre  Edad Profesion    Direccion
0          NaN  Marisa    34       NaN  Desconocida
1          NaN   Laura    29       NaN  Desconocida
2          NaN  Manuel    12       NaN  Desconocida
3     Alemania   Klaus    39      none  Desconocida

In [38]:
# eliminar fila (similar a Series)
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])

# frame = frame.drop(2) # por qué necesitamos reasignar el frame?
# display(frame)

frame.drop(2, inplace = True) # elimina la fila 2. inplace = True modifica el DataFrame original!!!
display(frame)

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN

In [35]:
#eliminar columna
del frame['Profesion'] # elimina la columna 'Profesion' del DataFrame original
display(frame)

  Nacionalidad  Nombre  Edad
0          NaN  Marisa    34
1          NaN   Laura    29

In [32]:
# acceder a la traspuesta (como una matriz)
display(frame.T)

                   0      1
Nacionalidad     NaN    NaN
Nombre        Marisa  Laura
Edad              34     29

## Iteración

In [39]:
# iteración sobre el DataFrame?
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], 
                "Edad" : [34,29,12] }
frame = pd.DataFrame(diccionario, columns=[1, 'Nombre', 'Edad', 'Profesion'])

for a in frame:
    print(a) # qué es 'a'? Nombre de la columna
    print(type(a)) # es el tipo del nombre de la columna

1
<class 'int'>
Nombre
<class 'str'>
Edad
<class 'str'>
Profesion
<class 'str'>

In [40]:
frame

     1  Nombre  Edad Profesion
0  NaN  Marisa    34       NaN
1  NaN   Laura    29       NaN
2  NaN  Manuel    12       NaN

In [41]:
# iteracion sobre filas
for value in frame.values:
    print(value)
    print(type(value))

[nan 'Marisa' 34 nan]
<class 'numpy.ndarray'>
[nan 'Laura' 29 nan]
<class 'numpy.ndarray'>
[nan 'Manuel' 12 nan]
<class 'numpy.ndarray'>

In [42]:
# iterar sobre filas y luego sobre cada valor?
for values in frame.values:
    for value in values: 
        print(value)
        print(type(value))

nan
<class 'float'>
Marisa
<class 'str'>
34
<class 'int'>
nan
<class 'float'>
nan
<class 'float'>
Laura
<class 'str'>
29
<class 'int'>
nan
<class 'float'>
nan
<class 'float'>
Manuel
<class 'str'>
12
<class 'int'>
nan
<class 'float'>

## Indexación y slicing con DataFrames

In [40]:
d1 = {'ciudad':'Valencia', 'temperatura':10, 'o2':1}
d2 = {'ciudad':'Barcelona', 'temperatura':8}
d3 = {'ciudad':'Valencia', 'temperatura':9}
d4 = {'ciudad':'Madrid', 'temperatura':10, 'humedad':80}
d5 = {'ciudad':'Sevilla', 'temperatura':15, 'humedad':50, 'co2':6}
d6 = {'ciudad':'Valencia', 'temperatura':10, 'humedad':90, 'co2':10}
ls_data = [d1, d2, d3, d4, d5, d6]  # lista de diccionarios
df_data = pd.DataFrame(ls_data, index = list('abcdef'))
display(df_data)

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

In [41]:
# Acceso a un valor concreto por indice posicional [row, col]
print(df_data.iloc[3, 1])

10

In [42]:
# # Acceso a todos los valores hasta un índice por enteros
display(df_data.iloc[:3,:4]) # filas 0, 1, 2 y columnas 0, 1, 2, 3

      ciudad  temperatura   o2  humedad
a   Valencia           10  1.0      NaN
b  Barcelona            8  NaN      NaN
c   Valencia            9  NaN      NaN

In [45]:
# # Acceso a datos de manera explícita, indice semantico (se incluyen)
display(df_data.loc['b', 'temperatura']) # fila 'd' y columna 'temperatura'
print(df_data.loc['b', 'temperatura'])

np.int64(8)

8

In [47]:
# Acceso a un valor concreto por indice posicional [row, col]
# print(df_data.iloc[3, 1])

# # Acceso a todos los valores hasta un índice por enteros
# display(df_data.iloc[:3,:4])

# # Acceso a datos de manera explícita, indice semantico (se incluyen)
# display(df_data.loc['d', 'temperatura'])
# display(df_data.loc[:'c', :'o2'])
# display(df_data.loc[:'c', 'temperatura':'o2'])

display(df_data.loc[:, ['ciudad','o2']])

      ciudad   o2
a   Valencia  1.0
b  Barcelona  NaN
c   Valencia  NaN
d     Madrid  NaN
e    Sevilla  NaN
f   Valencia  NaN

In [47]:
# indexación con nombre de columna (por columnas)
print(df_data['ciudad']) # --> Series

display(df_data[['ciudad', 'o2']])

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

      ciudad   o2
a   Valencia  1.0
b  Barcelona  NaN
c   Valencia  NaN
d     Madrid  NaN
e    Sevilla  NaN
f   Valencia  NaN

In [49]:
# indexación con índice posicional (no permitido!). Esto busca columna.
print(df_data[0])

KeyError: 0

In [51]:
# indexar por posición con 'iloc'
print(df_data.iloc[0]) # --> Series de la primera fila (qué marca los índices)

ciudad         Valencia
temperatura          10
o2                  1.0
humedad             NaN
co2                 NaN
Name: a, dtype: object

In [52]:
# indexar semántico con 'loc'
df_data.loc['a'] # --> Series de la fila con índice 'a'

ciudad         Valencia
temperatura          10
o2                  1.0
humedad             NaN
co2                 NaN
Name: a, dtype: object

In [49]:
# indexar semántico con 'loc'
df_data.loc[:'b'] # --> DataFrame hasta fila con índice 'b'

      ciudad  temperatura   o2  humedad  co2
a   Valencia           10  1.0      NaN  NaN
b  Barcelona            8  NaN      NaN  NaN

In [52]:
# si se modifica una porcion del dataframe se modifica el dataframe original (referencia)
serie = df_data.loc['a'] # referencia a la primera fila y se almacena en la variable "serie"
serie[2] = 3000 # modifica el valor de la serie
display(df_data) # se ha modificado el DataFrame original

/tmp/ipykernel_840/4152411891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie[2] = 3000
/tmp/ipykernel_840/4152411891.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  serie[2] = 3000

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0

In [54]:
serie

ciudad         Valencia
temperatura          10
o2                 3000
humedad             NaN
co2                 NaN
Name: a, dtype: object

In [55]:
df_data.loc['a']= serie # se modifica el DataFrame original
display(df_data) # se ha modificado el DataFrame original

      ciudad  temperatura      o2  humedad   co2
a   Valencia           10  3000.0      NaN   NaN
b  Barcelona            8     NaN      NaN   NaN
c   Valencia            9     NaN      NaN   NaN
d     Madrid           10     NaN     80.0   NaN
e    Sevilla           15     NaN     50.0   6.0
f   Valencia           10     NaN     90.0  10.0

In [56]:


# copiar data frame
df_2 = df_data.copy()
df_2

      ciudad  temperatura      o2  humedad   co2
a   Valencia           10  3000.0      NaN   NaN
b  Barcelona            8     NaN      NaN   NaN
c   Valencia            9     NaN      NaN   NaN
d     Madrid           10     NaN     80.0   NaN
e    Sevilla           15     NaN     50.0   6.0
f   Valencia           10     NaN     90.0  10.0

In [58]:
# ambos aceptan 'axis' como argumento
df_data.iloc(axis=1)[0] # --> todos los valores asignados a la primera columna 'ciudad'
# df_data.loc(axis=1)['ciudad'] # --> preferible el equivalente frame['ciudad']

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

In [59]:
# qué problema puede tener este fragmento?
frame = pd.DataFrame({"Name" : ['Carlos','Pedro'], "Age" : [34,22]}, index=[1,0])
display(frame)

     Name  Age
1  Carlos   34
0   Pedro   22

In [60]:
# por defecto, pandas interpreta índice posicional --> error en frames
# cuando hay posible ambigüedad, utilizar loc y iloc
print('Primera fila\n')
print(frame.iloc[0]) # primera fila
print('\nElemento con index 0\n')
print(frame.loc[0]) # elemento con índice 0, no la primera fila

Primera fila

Name    Carlos
Age         34
Name: 1, dtype: object

Elemento con index 0

Name    Pedro
Age        22
Name: 0, dtype: object

## Objeto Index de Pandas

In [61]:
# Contrucción de índices
ind = pd.Index([2, 3, 5, 7, 11])
# recuperar datos
print(ind[3])
print(ind[::2]) # slicing con paso 2 (índices pares: 0, 2, 4)

7
Index([2, 5, 11], dtype='int64')

In [62]:
# Son inmutables! No se modifican los datos. 
ind[3] = 8

TypeError: Index does not support mutable operations

## Slicing

In [63]:
# slice por filas
d_and_d_characters = {'Name' : ['bundenth','theorin','barlok'], 'Strength' : [10,12,19], 'Wisdom' : [20,13,6]}
character_data = pd.DataFrame(d_and_d_characters, index=['a','b','c'])
display(character_data)
display(character_data[:-1])
display(character_data[1:2])

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13
c    barlok        19       6

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13

      Name  Strength  Wisdom
b  theorin        12      13

In [65]:
# slicing para columnas
display(character_data[['Name','Strength']])

       Name  Strength
a  bundenth        10
b   theorin        12
c    barlok        19

In [66]:
#slicing con 'loc' e 'iloc'
display(character_data.iloc[1:]) # slicing con 'iloc' (posicional). No incluye la primera fila
display(character_data.loc[:'b']) # slicing con 'loc' (semántico). Incluye la fila 'b'

      Name  Strength  Wisdom
b  theorin        12      13
c   barlok        19       6

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13

¿Cómo filtrar filas y columnas? Por ejemplo, para todos los personajes, obtener 'Name' y 'Strength'

In [67]:
# usando 'loc' para hacer slicing
display(character_data.loc[:,'Name':'Strength']) # slicing. El primer parámetro es para filas (seleccionamos todas), el segundo para columnas (seleccionamos de 'Name' a 'Strength')

       Name  Strength
a  bundenth        10
b   theorin        12
c    barlok        19

In [68]:
# usando 'loc' para buscar específicamente filas y columnas
display(character_data.loc[ ['a','c'], ['Name','Wisdom'] ])

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [10]:
# lo mismo con 'iloc'?
display(character_data.iloc[[0,2],[0,2]])
display(character_data.iloc[[0,-1],[0,-1]])

       Name  Wisdom
a  bundenth      20
c    barlok       6

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [11]:
# Filtrado de datos
# lista de los personajes con el atributo Strength > 11
display(character_data.loc[character_data['Strength'] > 11, ['Name', 'Strength']]) # seleccionamos las filas que cumplen la condición y las columnas 'Name' y 'Strength'

      Name  Strength
b  theorin        12
c   barlok        19

In [12]:
# listar los personajes con Strength > 15 o Wisdom > 15
display(character_data.loc[(character_data['Strength'] > 15) | (character_data['Wisdom'] > 15)])

       Name  Strength  Wisdom
a  bundenth        10      20
c    barlok        19       6

# Cargar y guardar datos en pandas

In [ ]:
# Guardar a csv
import os
ruta = os.path.join("res" ,"o_d_d_characters.csv") # ruta del archivo. Usamos os.path.join para que sea compatible con todos los sistemas operativos y para concatenar las rutas
character_data.to_csv(ruta, sep=';') # separador por defecto: ','

In [ ]:
loaded = pd.read_csv(ruta, sep=';')
display(loaded)

In [ ]:
loaded = pd.read_csv(ruta, sep=';', index_col = 0)
display(loaded)

#### otros argumentos to_csv()
- na_rep='string' --> representar valores NaN en el archivo csv

#### otros argumentos read_csv()
- na_values='string'

Pandas también ofrece funciones para leer/guardar a otros formatos estándares: JSON, HDF5 o Excel en su [API](https://pandas.pydata.org/pandas-docs/stable/reference/io.html)

# Ejemplo práctico en pandas
- [MovieLens dataset](https://grouplens.org/datasets/movielens/)
 - Reviews de películas
 - 1 millón de entradas
 - Datos demográficos de usuarios

In [69]:
import numpy as np
import pandas as pd
import zipfile # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os

In [70]:
# descargar MovieLens dataset
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
ruta = os.path.join("res", "ml-1m.zip") # debemos tener el directorio 'res' creado !!!
urllib.request.urlretrieve(url, ruta)

('res/ml-1m.zip', <http.client.HTTPMessage at 0x7f05000dc9d0>)

In [71]:
# descomprimiendo archivo zip
ruta_ext = os.path.join("res")
with zipfile.ZipFile(ruta, 'r') as zip: 
    print('Extracting all files...') 
    zip.extractall(ruta_ext) # destinación
    print('Done!') 
    
# take a look at readme y revisar formatos

Extracting all files...
Done!

In [72]:
ruta_users = os.path.join("res", "ml-1m", "users.dat")

users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0, engine='python')
display(users_dataset)

      F  1.1  10  48067
1
2     M   56  16  70072
3     M   25  15  55117
4     M   45   7  02460
5     M   25  20  55455
6     F   50   9  55117
...  ..  ...  ..    ...
6036  F   25  15  32603
6037  F   45   1  76006
6038  F   56   1  14706
6039  F   45   0  01060
6040  M   25   6  11106

[6039 rows x 4 columns]

In [73]:
# Varios problemas
# sin cabecera! primer valor se ha perdido
# las columnas no tienen nombres
pd.read_csv? # para ver la documentación de la función 'read_csv'

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [74]:
# especificar nombres, cargar sin cabecera
users_dataset = pd.read_csv(ruta_users, sep='::', index_col=0,
    header=None, names=['UserID','Gender','Age','Occupation','Zip-code'], engine='python')
display(users_dataset)

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455
...       ...  ...         ...      ...
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

[6040 rows x 4 columns]

In [75]:
# samplear la tabla 
display(users_dataset.sample(10)) # muestra 10 filas aleatorias

       Gender  Age  Occupation Zip-code
UserID
1456        M   25           2    98074
3472        M   25           6    33156
4167        M   25          20    22032
786         M   25           0    55987
4527        M   18           0    38111
3205        F   35          16    80304
4265        M   25          12    03060
853         M   25          17    55447
432         M   45          16    55306
1483        M   18           4    54481

In [76]:
# samplear la cabeza
display(users_dataset.head(4))

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460

In [77]:
# samplear la cola
display(users_dataset.tail(4))

       Gender  Age  Occupation Zip-code
UserID
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

In [78]:
# tipos de datos sobre las columnas
users_dataset.dtypes

Gender        object
Age            int64
Occupation     int64
Zip-code      object
dtype: object

In [79]:
display(users_dataset[users_dataset['Zip-code'].str.len() > 5]) # seleccionamos las filas que cumplen la condición cuya longitud del código postal es mayor que 5

       Gender  Age  Occupation    Zip-code
UserID
161         M   45          16  98107-2117
233         F   45          20  37919-4204
293         M   56           1  55337-4056
458         M   50          16  55405-2546
506         M   25          16  55103-1006
...       ...  ...         ...         ...
5682        M   18           0  23455-4959
5904        F   45          12      954025
5925        F   25           0  90035-4444
5967        M   50          16  73069-5429
5985        F   18           4  78705-5221

[81 rows x 4 columns]

In [80]:
# información general sobre atributos numéricos
display(users_dataset.describe())

               Age   Occupation
count  6040.000000  6040.000000
mean     30.639238     8.146854
std      12.895962     6.329511
min       1.000000     0.000000
25%      25.000000     3.000000
50%      25.000000     7.000000
75%      35.000000    14.000000
max      56.000000    20.000000

In [81]:
users_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6040 entries, 1 to 6040
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      6040 non-null   object
 1   Age         6040 non-null   int64
 2   Occupation  6040 non-null   int64
 3   Zip-code    6040 non-null   object
dtypes: int64(2), object(2)
memory usage: 235.9+ KB

In [82]:
# incluir otros atributos (no todo tiene sentido)
display(users_dataset.describe(include='all'))

       Gender          Age   Occupation Zip-code
count    6040  6040.000000  6040.000000     6040
unique      2          NaN          NaN     3439
top         M          NaN          NaN    48104
freq     4331          NaN          NaN       19
mean      NaN    30.639238     8.146854      NaN
std       NaN    12.895962     6.329511      NaN
min       NaN     1.000000     0.000000      NaN
25%       NaN    25.000000     3.000000      NaN
50%       NaN    25.000000     7.000000      NaN
75%       NaN    35.000000    14.000000      NaN
max       NaN    56.000000    20.000000      NaN

In [83]:
# cuántos usuarios son mujeres (Gender='F')
len(users_dataset[users_dataset['Gender'] == 'F'])

# select count(*) from users_dataset where users_dataset.Gender = 'F'

1709

In [86]:
# mostrar solo los menores de edad 
under_age = users_dataset[users_dataset['Age'] < 18] # seleccionamos las filas cuyo valor de 'Age' es menor que 19
print(len(under_age))
display(under_age.sample(10))

222

       Gender  Age  Occupation Zip-code
UserID
19          M    1          10    48073
1182        M    1          10    91326
2285        F    1          10    13090
2467        M    1          10    44224
4087        M    1           4    63376
5525        F    1          10    55311
5243        M    1          10    54220
5118        M    1          10    95123
5420        F    1          19    14850
5296        F    1           0    27245

In [87]:
# filtrar edad incorrecta (míninimo 18)
under_age.loc['Age'] = np.nan
display(under_age.head())

users_dataset[users_dataset['Age'] < 18] = under_age
display(users_dataset.head())

/tmp/ipykernel_840/3709444404.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  under_age.loc['Age'] = np.nan

       Gender  Age  Occupation Zip-code
UserID
1           F  1.0        10.0    48067
19          M  1.0        10.0    48073
51          F  1.0        10.0    10562
75          F  1.0        10.0    01748
86          F  1.0        10.0    54467

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455

In [88]:
# Agrupar datos por atributos
display(users_dataset.groupby(by='Age').describe()) # agrupamos por 'Age' y mostramos estadísticas descriptivas de cada grupo

    Occupation
         count      mean       std  min   25%   50%   75%   max
Age
1        222.0  9.009009  4.382184  0.0  10.0  10.0  10.0  19.0
18      1103.0  6.666364  5.873533  0.0   4.0   4.0  10.5  20.0
25      2096.0  8.159828  6.486610  0.0   2.0   7.0  14.0  20.0
35      1193.0  8.804694  6.459703  0.0   2.0   7.0  15.0  20.0
45       550.0  8.294545  6.600254  0.0   1.0   7.0  15.0  20.0
50       496.0  8.538306  6.368368  0.0   2.0   7.0  14.0  20.0
56       380.0  9.078947  6.138170  0.0   2.0  12.0  13.0  20.0

In [89]:
# Grabar la tabla modificada
# Cambiar el separador a ','
# Guardar NaN como 'null'
ruta_output = os.path.join('res', 'ml-1m', 'o_users_processed.dat') # ruta de salida del archivo con nombre 'o_users_processed.dat'
users_dataset.to_csv(ruta_output, sep=',',na_rep='null')

In [109]:
!cat ./res/o_users_processed.dat # muestra el contenido del archivo

UserID,Gender,Age,Occupation,Zip-code
1,F,1,10,48067
2,M,56,16,70072
3,M,25,15,55117
4,M,45,7,02460
5,M,25,20,55455
6,F,50,9,55117
7,M,35,1,06810
8,M,25,12,11413
9,M,25,17,61614
10,F,35,1,95370
11,F,25,1,04093
12,M,25,12,32793
13,M,45,1,93304
14,M,35,0,60126
15,M,25,7,22903
16,F,35,0,20670
17,M,50,1,95350
18,F,18,3,95825
19,M,1,10,48073
20,M,25,14,55113
21,M,18,16,99353
22,M,18,15,53706
23,M,35,0,90049
24,F,25,7,10023
25,M,18,4,01609
26,M,25,7,23112
27,M,25,11,19130
28,F,25,1,14607
29,M,35,7,33407
30,F,35,7,19143
31,M,56,7,06840
32,F,25,0,19355
33,M,45,3,55421
34,F,18,0,02135
35,M,45,1,02482
36,M,25,3,94123
37,F,25,9,66212
38,F,18,4,02215
39,M,18,4,61820
40,M,45,0,10543
41,F,18,4,15116
42,M,25,8,24502
43,M,25,12,60614
44,M,45,17,98052
45,F,45,16,94110
46,M,18,19,75602
47,M,18,4,94305
48,M,25,4,92107
49,M,18,12,77084
50,F,25,2,98133
51,F,1,10,10562
52,M,18,4,72212
53,M,25,0,96931
54,M,50,1,56723
55,F,35,12,55303
56,M,35,20,60440
57,M,18,19,30350
58,M,25,2,30303
59,F,50,1,55413
60,M,50,1,72118
61,M,25,17,95122
62,F,35,3,98105
63,M,18,4,54902
64,M,18,1,53706
65,M,35,12,55803
66,M,25,18,57706
67,F,50,5,60181
68,M,18,4,53706
69,F,25,1,02143
70,M,18,4,53703
71,M,25,14,95008
72,F,45,0,55122
73,M,18,4,53706
74,M,35,14,94530
75,F,1,10,01748
76,M,35,7,55413
77,M,18,4,15321
78,F,45,1,98029
79,F,45,0,98103
80,M,56,1,49327
81,F,25,0,60640
82,M,25,17,48380
83,F,25,2,94609
84,M,18,4,53140
85,M,18,4,94945
86,F,1,10,54467
87,M,25,14,48360
88,F,45,1,02476
89,F,56,9,85749
90,M,56,13,85749
91,M,35,7,07650
92,F,18,4,44243
93,M,25,17,95825
94,M,25,17,28601
95,M,45,0,98201
96,F,25,16,78028
97,F,35,3,66210
98,F,35,7,33547
99,F,1,10,19390
100,M,35,17,95401
101,F,18,3,33314
102,M,35,19,20871
103,M,45,7,92104
104,M,25,12,00926
105,M,45,12,90277
106,F,35,11,79101
107,M,45,18,63129
108,M,25,12,30316
109,M,45,15,92028
110,M,25,2,90803
111,M,35,15,55416
112,M,25,16,97209
113,M,18,12,37032
114,F,25,2,83712
115,M,25,17,28083
116,M,25,17,55744
117,M,25,17,33314
118,M,35,17,22315
119,F,1,10,77515
120,M,25,11,27106
121,M,35,7,75229
122,F,18,4,94305
123,M,35,9,67208
124,M,56,7,91356
125,M,45,14,01701
126,M,18,9,98117
127,F,45,3,01770
128,M,56,6,37922
129,M,25,11,20164
130,M,35,17,50021
131,M,18,4,06520
132,M,25,17,99709
133,F,25,0,55071
134,M,25,0,66212
135,M,18,4,20006
136,M,18,2,21202
137,F,45,6,78758
138,M,18,20,22203
139,F,25,20,45409
140,F,35,1,55107
141,M,35,13,62035
142,M,25,7,10011
143,M,18,3,64043
144,M,25,17,29401
145,M,18,4,19081
146,F,35,20,10954
147,M,18,4,91360
148,M,50,17,57747
149,M,25,1,29205
150,M,35,7,98144
151,F,25,20,85013
152,M,18,4,48104
153,M,1,10,51537
154,M,50,20,94530
155,M,35,12,07470
156,F,45,7,14519
157,M,35,16,12866
158,M,56,7,28754
159,F,45,0,37922
160,M,35,7,13021
161,M,45,16,98107-2117
162,F,18,4,93117
163,M,18,4,85013
164,F,56,13,94566
165,M,18,16,98502
166,M,18,4,92802
167,F,25,11,10022
168,F,50,0,46970
169,M,25,7,55439
170,M,25,11,07002
171,F,50,17,55441
172,M,25,3,07661
173,M,25,0,45237
174,M,25,16,21203
175,F,25,2,95123
176,F,18,3,55016
177,M,50,1,54016
178,M,56,17,53705
179,M,25,0,02135
180,M,45,12,01603
181,M,18,17,33186
182,M,18,4,03052
183,F,45,1,55407
184,F,25,0,19001
185,M,45,0,14468
186,M,18,5,91767
187,F,45,1,94061
188,M,56,16,79930
189,M,18,0,60076
190,M,25,17,55125
191,M,18,4,04915
192,M,18,1,10977
193,F,45,15,44106
194,F,1,10,29146
195,M,25,12,10458
196,F,35,9,94587
197,M,18,14,10023
198,M,25,12,55108
199,M,18,4,83706
200,F,18,4,84321
201,F,35,2,55117
202,M,18,4,53706
203,F,18,4,53715
204,M,25,7,92123
205,M,35,12,97333
206,M,25,17,20194
207,M,25,12,94115
208,M,35,17,55432
209,M,35,1,90048
210,F,1,10,25801
211,M,45,17,90620
212,M,25,16,53714
213,F,18,4,01609
214,M,18,20,80218
215,M,35,14,92075
216,M,45,13,52761
217,M,18,4,22903
218,M,35,14,95822
219,F,25,4,55113
220,M,25,12,22903
221,F,25,0,94063
222,M,25,1,55116
223,M,25,17,28262
224,F,18,4,14850
225,M,25,7,11215
226,M,35,1,94518
227,M,35,20,90291
228,M,25,15,55455
229,M,18,10,04576
230,M,45,1,43210
231,M,25,3,55455
232,M,25,20,55408
233,F,45,20,37919-4204
234,M,35,7,39652
235,M,25,0,98153
236,M,25,5,55126
237,M,25,6,46835
238,F,50,7,90291
239,M,18,19,94618
240,M,50,17,55113
241,M,35,20,55121
242,F,18,4,53706
243,M,25,16,11576
244,M,50,7,19072
245,M,35,16,66046
246,F,18,4,60625
247,M,25,17,94404
248,M,18,17,72703
249,F,18,14,48126
250,M,35,16,11229
251,M,56,17,55105
252,M,25,12,94112
253,F,25,11,97370
254,M,35,17,49015
255,M,35,0,85310
256,M,45,16,55076
257,M,18,18,55113
258,M,25,7,55436
259,M,25,1,60615
260,M,18,19,98126
261,M,25,20,75801
262,F,25,1,68503
263,F,25,7,22304
264,M,35,0,20755
265,F,35,7,55116
266,M,35,11,75229
267,M,45,12,55001
268,F,18,12,29708
269,M,25,2,55408
270,M,50,14,55414
271,M,18,4,48202
272,M,18,0,80302
273,M,18,4,55427
274,M,18,4,55455
275,M,25,0,48162
276,M,45,16,01982
277,F,35,1,98126
278,M,45,18,60482
279,M,25,14,91214
280,M,50,7,19118
281,F,35,0,94117
282,M,25,17,94401
283,M,25,0,10003
284,M,25,12,91910
285,F,35,0,94109
286,M,25,1,54601
287,M,50,13,94706
288,F,25,12,97119
289,F,25,0,11801
290,F,25,20,94591
291,M,35,12,55110
292,M,35,7,19406
293,M,56,1,55337-4056
294,F,45,9,43147
295,M,18,0,80203
296,M,50,5,89432
297,M,18,2,97211
298,F,18,4,19010
299,M,25,12,97370
300,M,25,7,78664
301,M,18,4,61820
302,M,18,4,04901
303,M,25,7,20006
304,M,25,0,55414
305,F,18,0,55414
306,M,18,0,53051
307,M,50,16,90027
308,M,25,2,10025
309,M,25,4,16801
310,F,18,4,31207
311,M,18,4,31201
312,F,50,2,22207
313,F,18,4,02138
314,F,56,9,46911
315,F,56,1,55105
316,M,56,13,90740
317,M,35,7,38555
318,F,56,13,55104
319,F,50,6,33436
320,M,35,6,99516
321,M,18,4,55128
322,M,56,17,55117
323,M,45,12,53716
324,M,35,17,55106
325,F,50,3,55112
326,M,50,11,25302
327,M,35,18,55448
328,M,35,12,80401
329,M,35,7,02115
330,M,56,7,92065
331,M,25,7,55902
332,M,50,1,55109
333,M,35,2,55410
334,F,56,2,55113
335,M,35,18,55434
336,M,18,0,98765
337,M,18,19,80205
338,M,35,7,55116
339,M,50,7,80207
340,F,25,3,28001
341,F,56,13,92119
342,M,18,12,55076
343,F,35,3,55127
344,M,35,14,75034
345,M,25,12,94114
346,F,25,0,55110
347,F,56,1,55305
348,M,50,7,55110
349,M,1,10,08035
350,M,45,20,08035
351,M,18,4,55105
352,M,18,4,60115
353,F,35,7,92625
354,M,35,1,55117
355,M,18,3,55107
356,M,56,20,55101
357,M,18,0,98103
358,F,56,1,20815
359,M,25,17,55128
360,M,35,17,28208
361,F,25,14,94115
362,M,35,20,55407
363,M,18,10,55419
364,F,35,1,46815
365,F,18,4,02138
366,M,50,15,55126
367,M,50,12,55421
368,M,25,0,90293
369,M,35,1,55110
370,M,18,17,22304
371,M,18,4,02141
372,F,18,4,72227
373,F,25,2,55347
374,F,35,14,55346
375,M,25,2,55106
376,M,35,1,80026
377,M,25,17,55418
378,F,18,0,55105
379,F,35,1,54822
380,M,25,2,92024
381,M,35,17,89015
382,F,35,20,66205
383,F,25,7,78757
384,M,25,11,55075
385,M,25,6,68131
386,M,25,0,55408
387,F,35,7,55111
388,F,25,0,10021
389,M,25,6,68128
390,M,25,4,55405
391,M,45,11,22122
392,M,18,7,20037
393,M,35,17,55402
394,M,18,0,55013
395,M,18,5,55104
396,M,25,1,56187
397,M,35,17,22124
398,M,25,17,55454
399,F,35,6,55128
400,F,18,3,55422
401,M,18,0,55129
402,M,25,11,55427
403,M,18,4,02138
404,M,18,4,10128
405,M,56,1,13077
406,M,25,20,55105
407,M,18,17,89503
408,M,25,11,02143
409,M,18,12,55122
410,F,25,1,55417
411,F,45,1,43214
412,M,35,15,55117
413,M,25,11,55409
414,M,25,0,55317
415,F,35,0,55406
416,M,45,14,55076
417,F,25,0,50613
418,F,25,3,54016
419,M,18,3,55422
420,M,35,1,55406
421,F,45,3,55125
422,M,56,17,55104
423,M,18,4,55455
424,M,25,17,55112
425,M,25,12,55303
426,M,18,4,55455
427,M,35,12,55104
428,F,18,4,55455
429,M,18,0,54901
430,F,18,10,55306
431,M,18,10,55303
432,M,45,16,55306
433,M,50,6,55115
434,F,45,3,98155
435,M,25,7,55125
436,M,18,4,43023
437,M,35,17,55030
438,M,18,11,53705
439,M,35,14,55129
440,M,56,1,32940
441,M,35,1,55127
442,M,25,1,55105
443,M,25,3,55421
444,M,56,0,55108
445,M,45,12,55117
446,F,50,0,55042
447,F,45,11,55105
448,M,25,17,80123
449,M,25,7,85037
450,M,45,1,24523
451,M,56,13,54720
452,M,50,17,55117
453,M,18,4,55102
454,M,25,20,55092
455,F,35,2,55113
456,M,35,0,55105
457,M,18,4,54703
458,M,50,16,55405-2546
459,F,18,4,55105
460,M,45,18,55313
461,M,50,7,55075
462,M,18,16,55416
463,M,25,7,55105
464,F,18,4,55455
465,M,18,19,94523
466,M,25,5,55405
467,F,35,3,55075
468,F,1,10,55082
469,M,35,6,55122
470,F,1,10,55068
471,M,35,7,08904
472,M,35,0,55418
473,F,18,4,55112
474,M,25,17,92126
475,F,25,2,55421
476,M,35,0,55127
477,M,35,14,55410
478,M,50,16,55113
479,M,25,12,55042
480,F,18,4,55422
481,M,45,7,55115
482,M,25,14,55305
483,M,18,12,55105
484,F,1,10,55104
485,M,56,7,55042
486,M,56,0,91367
487,F,35,17,55082
488,M,25,12,55107
489,M,18,4,55455
490,M,1,10,55345
491,M,18,4,56043
492,M,25,12,55112
493,M,50,7,55016
494,F,35,0,17870
495,M,18,10,55421
496,M,18,4,55455
497,F,25,17,55412
498,M,35,17,55113
499,F,25,1,55108
500,F,18,2,55105
501,M,25,2,55372
502,M,35,6,55126
503,M,35,11,73120
504,M,25,2,17003
505,M,35,17,37815
506,M,25,16,55103-1006
507,F,25,0,55405
508,M,25,12,55418
509,M,25,2,55125
510,M,18,12,55109
511,F,45,4,15232
512,M,35,0,55379
513,M,25,0,55119
514,M,25,2,55113
515,M,25,1,55406
516,F,56,14,55033
517,F,25,14,55408
518,F,35,12,75240
519,F,35,14,55038
520,F,35,20,55104
521,M,56,7,55105
522,M,25,12,55124
523,M,50,7,55105
524,M,18,0,91320
525,M,35,6,19027
526,M,45,17,94806
527,F,25,2,11201
528,F,18,17,83843
529,M,35,12,92009
530,M,25,2,10019
531,F,18,14,22206
532,M,25,7,94301
533,M,25,12,27514
534,M,25,15,55902
535,M,35,6,95370
536,M,25,20,01267
537,M,45,14,07704
538,M,56,16,95407
539,M,25,2,55103
540,M,18,1,15213
541,F,18,4,5849574
542,M,18,4,78705
543,M,25,5,55057
544,M,35,12,94538
545,M,35,17,01890
546,F,25,0,37211
547,M,35,12,76109
548,F,35,16,96860
549,M,25,6,53217
550,M,45,8,21559
551,M,35,20,55116
552,M,50,18,23456
553,M,25,2,94131
554,M,25,12,94086
555,M,18,4,53213
556,F,25,9,37221
557,M,56,1,30030
558,M,35,20,55108
559,F,25,7,60422
560,M,45,15,81335
561,F,18,14,64060
562,M,35,20,48083
563,M,25,4,53703
564,M,45,1,49419
565,M,25,16,45242
566,M,25,17,92122
567,M,35,20,52570-9634
568,F,50,17,19716
569,F,18,4,97339
570,M,25,4,33314
571,M,50,5,95401
572,M,18,4,61801
573,F,35,2,98119
574,M,25,19,90214
575,M,25,12,92130
576,F,45,15,20910
577,M,35,0,02115
578,M,18,17,90064
579,M,25,5,32839
580,M,1,10,08534
581,M,50,14,73543
582,M,18,4,67042
583,F,25,0,48067
584,F,25,0,94403
585,M,18,1,53703
586,M,35,14,53092
587,M,25,20,92649
588,F,25,11,23220
589,M,18,2,90210
590,F,35,6,98032
591,M,25,0,76201
592,M,18,0,92103
593,F,50,1,91711
594,F,56,13,60076
595,M,25,7,10019
596,F,25,1,01950
597,M,35,12,80206
598,M,35,7,95476
599,M,50,6,53711
600,M,35,17,66209
601,F,18,20,06320
602,F,56,6,14612
603,F,25,6,32256
604,M,45,17,32256
605,F,18,4,44425
606,F,1,10,49507
607,M,25,0,43614
608,M,18,4,18011
609,M,25,7,10012
610,M,25,4,77025
611,M,35,0,20715
612,M,50,7,95020
613,M,35,20,10562
614,M,35,1,90024
615,M,50,17,32951
616,M,25,7,94115
617,F,25,7,92117
618,M,25,0,74105
619,F,18,1,94706
620,M,18,0,13210
621,M,18,4,93560
622,M,25,0,92612
623,M,25,17,60555
624,M,25,1,75207
625,F,35,12,44106
626,M,18,4,77005
627,M,50,2,97210
628,F,35,0,20715
629,F,1,10,48154
630,F,35,14,80525
631,M,35,17,28601
632,M,45,17,07649
633,M,25,17,94131
634,F,1,10,49512
635,M,56,17,33785
636,M,18,20,92055
637,M,35,12,97132
638,M,25,6,77584
639,M,45,17,85202
640,M,18,4,47406
641,F,35,0,55116
642,F,35,1,78155
643,M,25,2,23188
644,M,25,20,93704
645,M,35,20,11215
646,M,35,7,08505
647,M,35,12,85224
648,F,25,12,94131
649,M,25,4,80526
650,M,25,17,49445
651,M,35,7,20895
652,M,18,20,12222
653,M,56,13,92660
654,M,50,7,75023
655,F,25,2,92629
656,F,45,16,92106
657,F,50,13,34691
658,F,25,0,10021
659,F,25,0,28134
660,M,45,16,70507
661,M,45,1,13114
662,M,18,4,99163
663,F,25,7,12345
664,M,35,18,74601
665,M,18,2,13317
666,F,18,0,08540
667,M,25,18,98438
668,F,25,3,22042
669,M,25,17,30307
670,M,25,12,30303
671,M,18,4,61761
672,M,35,7,46845
673,M,25,20,10023
674,M,25,17,22042
675,M,25,20,02048
676,M,18,16,55129
677,M,50,2,94122
678,M,25,0,34952
679,M,35,16,29681
680,M,25,12,37013
681,M,35,7,30501
682,M,25,4,27510
683,M,25,4,27514
684,M,25,4,27510
685,M,25,4,27514
686,M,18,4,27514
687,F,25,7,14136
688,M,56,13,13407
689,F,50,0,48103
690,M,25,12,90717
691,M,35,11,96813
692,F,25,0,85207
693,M,35,12,98103
694,M,18,4,76401
695,F,18,1,04240
696,M,25,12,94114
697,F,50,6,97330
698,M,18,4,76401
699,M,18,0,73505
700,M,50,17,14650
701,F,18,4,01002
702,M,35,7,90808
703,F,56,1,44074
704,F,35,8,85712
705,M,25,4,48065
706,M,35,20,78664
707,M,35,7,17740
708,M,25,0,37042
709,M,18,0,92647
710,M,25,20,85207
711,M,25,18,80521
712,M,25,0,95136
713,M,35,7,79912
714,M,18,4,76013
715,M,18,0,53715
716,M,18,4,98188
717,M,25,11,90211
718,M,18,2,90211
719,M,1,0,75070
720,M,18,0,55129
721,F,35,9,97520
722,M,25,12,55106
723,M,25,12,98027
724,M,50,13,90266
725,M,56,11,08904
726,F,25,9,77449
727,M,35,11,94061
728,M,25,6,11598
729,M,35,12,85284
730,M,25,0,10580
731,M,45,3,55410
732,M,25,7,07030
733,M,35,16,30034
734,M,25,7,90078
735,M,25,14,04240
736,M,18,12,07070
737,M,1,19,53711
738,M,18,17,99205
739,M,35,12,55803
740,M,25,14,24551
741,M,25,5,44095
742,M,18,0,54758
743,F,1,2,60660
744,M,25,17,77007
745,M,1,10,90004
746,F,18,19,95019
747,M,18,4,98606
748,M,25,0,60098
749,M,35,18,56303
750,F,35,9,13066
751,F,25,17,97201
752,F,25,3,97401
753,M,1,10,42754
754,M,35,7,38024
755,F,35,0,94002
756,M,35,0,90064
757,M,25,12,97401
758,M,35,7,19518
759,F,56,3,89156
760,M,56,15,94114
761,M,18,7,99945
762,M,1,10,63041
763,M,18,10,02882
764,M,18,20,85296
765,M,25,17,74467
766,F,25,7,95128
767,M,25,12,45241
768,M,25,12,17067
769,M,45,17,02421
770,M,18,4,98499
771,F,50,1,75087
772,M,18,12,89118
773,M,25,6,48108
774,M,18,4,22903
775,M,1,17,56258
776,F,25,3,92627
777,M,18,19,87543
778,M,18,17,32694
779,M,25,0,60156
780,M,25,17,91776
781,M,18,4,95076
782,M,56,1,28223
783,M,25,4,53703
784,M,18,0,11040
785,M,18,19,29307
786,M,25,0,55987
787,M,18,4,77802
788,M,25,0,37601
789,M,18,1,67212
790,M,25,17,45694
791,M,35,7,27511
792,M,25,17,01002
793,F,35,14,37043
794,M,50,20,10543
795,F,35,14,19147
796,M,50,6,98237
797,F,50,7,20175
798,F,25,20,48464
799,F,25,5,98498
800,F,35,12,72032
801,F,25,20,95776
802,M,25,16,22801
803,M,18,4,67217
804,M,25,20,90032
805,M,35,12,37211
806,M,35,0,34990
807,M,18,4,89015
808,M,25,7,85226
809,M,25,17,70508
810,M,25,12,98006
811,M,50,0,94043
812,M,25,6,37930
813,M,18,4,70002
814,F,18,4,92612
815,M,25,4,37130
816,M,45,0,92108
817,M,18,4,41076
818,M,18,4,60107
819,M,35,7,60611
820,M,35,7,78759
821,M,18,2,14456
822,F,25,1,07666
823,M,25,0,92078
824,M,35,12,94530
825,M,56,1,39532
826,F,35,1,80210
827,M,45,2,55409
828,M,18,4,70817
829,M,1,19,53711
830,M,35,7,60657
831,F,45,0,20874
832,M,18,2,19464
833,M,35,7,46825
834,F,35,12,78640
835,M,56,0,94952
836,M,25,11,10023
837,M,56,7,08540
838,M,50,17,92661
839,M,25,0,98103
840,F,25,3,02828
841,F,50,14,92119
842,F,18,0,55102
843,M,25,7,49321
844,M,25,0,92121
845,F,18,0,20009
846,M,25,5,80209
847,F,25,7,80228
848,M,25,15,94121
849,M,25,3,75006
850,M,35,0,60640
851,M,18,4,75287
852,M,25,5,92105
853,M,25,17,55447
854,F,25,16,44092
855,F,18,2,72701
856,F,45,6,02453
857,M,35,17,11701
858,M,35,14,10013
859,M,25,12,10128
860,M,18,0,78237
861,M,25,7,37027
862,M,35,7,10019
863,M,25,7,62522
864,F,25,0,97205
865,M,35,1,91711
866,M,1,10,08820
867,M,45,12,95814
868,M,50,17,01702-7224
869,M,18,20,92026
870,F,25,1,02144
871,M,1,10,76013
872,M,50,1,20815
873,M,56,6,19027
874,M,45,15,26105
875,M,1,10,94707
876,M,25,4,43202
877,M,25,0,90631
878,M,18,2,01720
879,M,45,16,92018
880,M,35,17,94114
881,M,18,14,76401
882,M,18,2,01720
883,F,35,14,92673
884,M,1,10,49454
885,M,35,0,48105
886,F,56,0,14830
887,F,56,16,55345
888,F,1,10,08820
889,M,45,20,10024
890,M,18,4,92153
891,M,25,1,80202
892,M,35,0,76031
893,F,50,6,85016
894,M,18,4,31602
895,M,50,1,34683
896,M,18,15,94015
897,M,25,6,92130
898,M,25,7,77005
899,F,25,1,30605
900,F,56,13,90066
901,F,56,0,92027
902,M,56,0,45432
903,M,56,13,75165
904,M,35,20,92308
905,F,45,12,28655
906,M,1,10,71106
907,F,45,6,92117
908,F,50,1,92103
909,M,45,7,92831
910,F,50,0,98226
911,M,50,0,98226
912,F,35,2,91324
913,M,25,0,20744-6223
914,F,35,9,30338
915,M,25,7,72762
916,F,25,1,92084
917,M,50,6,92117
918,F,45,1,91901
919,F,35,1,92056
920,M,18,4,92173
921,M,25,17,92084
922,M,56,16,48009
923,M,25,7,37212
924,M,50,17,98642
925,F,35,3,48073
926,M,1,10,07869
927,F,25,20,91105
928,F,56,16,98199
929,M,25,15,53706
930,M,25,5,98380
931,F,56,1,06032
932,F,35,6,97838
933,M,45,1,49419
934,F,35,7,97401
935,M,35,14,60538
936,M,18,4,34567
937,M,25,15,60513
938,F,25,1,01060
939,F,25,20,20110-5616
940,M,1,10,76240
941,M,18,20,45387
942,F,50,6,85716
943,F,45,12,08033
944,M,35,0,91505
945,M,45,7,49345
946,M,35,7,48103-8929
947,M,18,0,21015
948,M,56,12,43056
949,M,50,17,96753
950,M,35,7,21044
951,M,45,2,10009
952,M,56,16,97478
953,M,50,20,97030
954,F,25,0,21030
955,F,50,7,94941
956,M,35,1,55104
957,M,35,1,29706
958,M,35,2,48116
959,M,50,11,44622
960,M,1,10,45244
961,M,18,10,10016
962,F,25,1,80020
963,M,25,0,48197
964,M,25,7,94123
965,M,56,7,10954
966,M,56,2,92262
967,F,18,0,43615
968,M,50,12,94530
969,F,25,11,19103
970,M,25,0,27615
971,M,25,12,43615
972,M,45,1,02138
973,F,25,1,80026
974,M,35,19,94930
975,M,35,0,98136
976,M,35,14,89113
977,M,25,2,80110
978,M,18,0,19116
979,M,1,10,48073
980,M,25,6,92014
981,M,25,20,02141
982,F,25,9,92064
983,F,25,16,99224
984,M,50,16,92129
985,M,25,4,32608
986,F,56,0,19004
987,F,35,17,48098
988,M,50,11,48823
989,M,50,0,20706
990,M,18,6,10004
991,F,25,9,48103
992,F,35,3,02780
993,M,25,0,45678
994,M,18,2,92109
995,F,18,4,96803
996,M,25,17,98102
997,M,1,19,15748
998,M,45,20,10019
999,M,25,15,62558
1000,F,25,6,90027
1001,M,25,4,90210
1002,M,50,11,07043
1003,M,25,2,19320
1004,M,25,3,95136
1005,M,35,11,08003
1006,M,18,4,53220
1007,M,50,12,01960
1008,M,35,3,77064
1009,M,50,7,48315
1010,M,25,0,10310
1011,M,25,8,92115
1012,F,35,1,30004
1013,M,56,13,02576
1014,F,45,17,03054
1015,M,35,3,11220
1016,M,56,16,60044
1017,M,35,0,30906
1018,M,18,4,95616
1019,M,35,1,60640
1020,M,18,20,93455
1021,M,35,0,94559
1022,M,25,3,00918
1023,M,56,13,92675
1024,F,35,1,74135
1025,M,25,16,34677
1026,F,45,0,19130
1027,M,18,4,77005
1028,F,45,7,03848
1029,M,25,0,20015
1030,M,25,7,97303
1031,M,35,16,19803
1032,M,50,16,19425
1033,M,25,5,60076
1034,F,35,1,82601
1035,M,18,2,15956
1036,M,35,7,28036
1037,M,45,7,02081
1038,F,56,15,20194
1039,F,35,1,02346
1040,M,25,11,76309
1041,M,45,2,94306
1042,M,35,5,92801
1043,F,50,11,87004
1044,M,25,20,72701
1045,F,1,10,77477
1046,M,56,18,53404-1230
1047,M,18,0,62225
1048,M,35,6,75225
1049,M,45,14,95002
1050,M,25,1,97302
1051,F,25,0,60513
1052,F,35,2,75214
1053,M,35,0,18360
1054,M,1,10,75040
1055,M,35,0,91505
1056,M,1,0,48133
1057,M,45,17,73069
1058,M,25,1,97321
1059,F,25,0,97213
1060,M,18,10,11235
1061,M,45,0,46060
1062,M,50,19,59457
1063,M,35,7,50265
1064,M,25,7,91344
1065,F,25,0,94402
1066,M,45,12,02151
1067,M,35,12,94402
1068,F,18,4,77581
1069,M,25,20,98105
1070,F,45,2,20036
1071,M,50,16,13045
1072,F,35,7,07601
1073,F,25,6,72211
1074,M,45,17,48073
1075,F,25,6,60660
1076,F,25,3,27606
1077,M,25,3,60660
1078,F,45,9,95661
1079,M,25,7,98115
1080,M,56,7,08854
1081,M,18,4,68144-2410
1082,M,45,7,48170
1083,M,56,0,27705
1084,M,1,19,03226
1085,M,25,7,34695
1086,M,18,4,98225
1087,M,25,16,08826
1088,F,1,10,98103
1089,M,35,6,37853
1090,M,25,7,94105
1091,M,18,5,345567
1092,F,18,4,49525
1093,M,50,14,60504
1094,F,18,0,92626
1095,F,56,6,08753
1096,M,1,10,80439
1097,M,18,17,92109
1098,M,35,7,94945
1099,M,25,17,77059
1100,M,25,0,60090
1101,M,35,1,06417
1102,M,18,1,55408
1103,F,45,7,60605
1104,M,35,11,10023
1105,M,35,6,48105
1106,M,18,4,90241
1107,F,50,1,02324
1108,M,56,1,93003
1109,M,18,10,45904
1110,F,56,6,77005
1111,F,50,16,44319
1112,M,18,6,19104
1113,M,18,4,97215
1114,F,18,9,75801
1115,F,25,1,60551
1116,M,25,15,92121
1117,M,18,14,10017
1118,M,50,13,02718
1119,M,35,1,90504
1120,M,18,4,95616
1121,M,56,7,78701
1122,M,56,14,02632
1123,M,50,0,91789
1124,M,25,2,60156
1125,F,18,4,53715
1126,M,56,16,13031
1127,M,25,0,11788
1128,M,25,1,72701
1129,M,35,17,22309
1130,M,18,7,60012
1131,M,56,13,12570
1132,M,18,12,98225
1133,M,18,2,90038
1134,M,18,20,19114
1135,M,50,13,98201
1136,F,35,7,90274
1137,M,18,4,13165
1138,M,18,12,12047
1139,M,25,1,93420-2852
1140,F,45,2,73069
1141,F,25,3,84770
1142,M,18,1,43623
1143,M,50,7,94024

# Ejercicios
- Hacer un análisis general de los otros dos archivos CSV en ml-1m ('movies.dat' y 'ratings.dat')
- Analizando el dataset ratings.dat, ¿hay algún usuario que no tenga ninguna review? ¿Cuántos tienen menos de 30 reviews?

## <img src="img/by-nc.png" width="200">