In [17]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

# Craccion del Dataframe

In [3]:
df = pd.DataFrame(data={"Pais":['Mexico','Argentina','Espana','Colombia'],
                        "Poblacion":[127212000, 45167000, 47099000, 48922000],
                        "Capital":['CDMX','Buenos Aires','Madrid','Bogota']})

In [4]:
print(df.shape)
print("=================")
print(df.dtypes)
print("=================")
print(df.describe())

(4, 3)
=================
Pais         object
Poblacion     int64
Capital      object
dtype: object
=================
          Poblacion
count  4.000000e+00
mean   6.710000e+07
std    4.010398e+07
min    4.516700e+07
25%    4.661600e+07
50%    4.801050e+07
75%    6.849450e+07
max    1.272120e+08

# Lectura fichero CSV

In [5]:
df_test = pd.read_csv('test2.csv')
print(df_test.head())

   col1  col2  col3
0     1     2     3
1     3     4     5
2     5     6     7

# FILTRADO DE DATOS

In [9]:
print(df[df['Poblacion'] > 47099000])

       Pais  Poblacion Capital
0    Mexico  127212000    CDMX
3  Colombia   48922000  Bogota

In [10]:
print(df.loc[1,'Pais'])

Argentina

In [11]:
print(df.loc[1])

Pais            Argentina
Poblacion        45167000
Capital      Buenos Aires
Name: 1, dtype: object

In [13]:
print(df.iloc[1,:])

Pais            Argentina
Poblacion        45167000
Capital      Buenos Aires
Name: 1, dtype: object

In [15]:
print(df.groupby('Pais')['Poblacion'].mean())

Pais
Argentina     45167000.0
Colombia      48922000.0
Espana        47099000.0
Mexico       127212000.0
Name: Poblacion, dtype: float64

In [16]:
print(df.isnull())
print(df.isnull().sum())

    Pais  Poblacion  Capital
0  False      False    False
1  False      False    False
2  False      False    False
3  False      False    False
Pais         0
Poblacion    0
Capital      0
dtype: int64

In [18]:
valor_perdido = df.loc[1,'Poblacion']
df.loc[1,'Poblacion'] = np.nan
print(df)

        Pais    Poblacion       Capital
0     Mexico  127212000.0          CDMX
1  Argentina          NaN  Buenos Aires
2     Espana   47099000.0        Madrid
3   Colombia   48922000.0        Bogota

In [20]:
df.fillna(df['Poblacion'].mean(), inplace=False)

        Pais    Poblacion       Capital
0     Mexico  127212000.0          CDMX
1  Argentina          NaN  Buenos Aires
2     Espana   47099000.0        Madrid
3   Colombia   48922000.0        Bogota

In [21]:
print(df)

        Pais    Poblacion       Capital
0     Mexico  127212000.0          CDMX
1  Argentina          NaN  Buenos Aires
2     Espana   47099000.0        Madrid
3   Colombia   48922000.0        Bogota

In [35]:
df_new = df.fillna(df['Poblacion'].mean(), inplace=False)
print(df_new)
print("==================================")
df['Poblacion'].fillna(df['Poblacion'].mean(), inplace=True)# inplace=True modifica el DataFrame original, en el caso de que sea False, se crea una copia del DataFrame
print(df)

       Pais    Poblacion Capital
0      Peru  127212000.0    CDMX
2    Espana   47099000.0  Madrid
3  Colombia   48922000.0  Bogota
==================================
       Pais    Poblacion Capital
0      Peru  127212000.0    CDMX
2    Espana   47099000.0  Madrid
3  Colombia   48922000.0  Bogota

In [26]:
df.loc[1,'Poblacion'] = np.nan
df.dropna(inplace=True)
print(df)

       Pais    Poblacion Capital
0    Mexico  127212000.0    CDMX
2    Espana   47099000.0  Madrid
3  Colombia   48922000.0  Bogota

In [27]:
df.loc[0, 'Pais'] = ''
print(df)

       Pais    Poblacion Capital
0            127212000.0    CDMX
2    Espana   47099000.0  Madrid
3  Colombia   48922000.0  Bogota

In [28]:
df.loc[df['Pais'] == '', 'Pais'] = 'Peru'
print(df)

       Pais    Poblacion Capital
0      Peru  127212000.0    CDMX
2    Espana   47099000.0  Madrid
3  Colombia   48922000.0  Bogota

In [33]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Pais': ['Mexico', 'España', 'Colombia']})
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Poblacion': [127212000.0, 47099000.0, 48922000.0]})
print(df1)
print(df2)

   ID      Pais
0   1    Mexico
1   2    España
2   3  Colombia
   ID    Poblacion
0   1  127212000.0
1   2   47099000.0
2   3   48922000.0

In [34]:
df_merged = pd.merge(df1, df2, on='ID', how='inner') 
print(df_merged)

   ID      Pais    Poblacion
0   1    Mexico  127212000.0
1   2    España   47099000.0
2   3  Colombia   48922000.0