# EDA - POKEMON

## Carga del dataset y analisis incial

- **pokedex_number**: Posicion que ocupa en la pokedex (nula importancia)

- **name**: Nombre del pokemon (nula importancia)

- **attack**: Influye en el daño causado por movimientos físicos los que usan el ataque físico(muy importante)

- **defense**: Reduce el daño recibido de movimientos físicos (muy importante).
- **height_m**: ALtura media del pokemon en metros (importancia nula).

- **hp**: Puntos de vida, determina cuánta vida tiene un Pokémon(muy importante).

- **percentage_male**: porcentaje de que salga el pokemon con genero masculino (importancia nula, excepto raras ocasiones, por ejemplo la habilidad "rivalidad").

- **sp_attack**: ataque especial, determina el poder de los movimientos especiales (muy importante).

- **sp_defense**: defensa especial, reduce el daño recibido de movimientos especiales (muy importante).

- **speed**: Velocidad, Define qué Pokémon ataca primero en un combate (muy importane).

- **type**: Tipo del pokemon (importancia baja-media, ya que hay tipos de pokemon mas "competitivos" pero no es directamente mejor por ser de x tipo).

- **weight_kg**: Peso medio del pokemon (importancia nula, excepto raras ocasiones, por ejemplo el movimiento "patada baja").

- **generation**: Generacion a la que pertenece el pokemon (importancia nula).

- **is_legendary**: Si el pokemon es legendario (importancia, media-alta ya que de media poseen mejores atributos y posiblemente mejores movimeintos).

In [29]:
#importamos pandas
import pandas as pd
import warnings
from sklearn.preprocessing import StandardScaler
warnings.filterwarnings("ignore") #ignoramos los warnings


#cargamos  dataset
col_names_pokemon = ["pokedex_number","name","attack","defense","height_m","hp","percentage_male","sp_attack","sp_defense","speed","type","weight_kg","generation","is_legendary"]
pokemon=  pd.read_csv("datasets/pokedex.csv", header=0, names=col_names_pokemon)

#mostramos primeros registros
pokemon.head()

,pokedex_number,name,attack,defense,height_m,hp,percentage_male,sp_attack,sp_defense,speed,type,weight_kg,generation,is_legendary
0,1,Bulbasaur,49,49,0.7,45,88.1,65,65,45,grass,6.9,1,0
1,2,Ivysaur,62,63,1.0,60,88.1,80,80,60,grass,13.0,1,0
2,3,Venusaur,100,123,2.0,80,88.1,122,120,80,grass,100.0,1,0
3,4,Charmander,52,43,0.6,39,88.1,60,50,65,fire,8.5,1,0
4,5,Charmeleon,64,58,1.1,58,88.1,80,65,80,fire,19.0,1,0

In [ ]:
#Mostramos infrmacion basica del dataset
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokedex_number   801 non-null    int64
 1   name             801 non-null    object
 2   attack           801 non-null    int64
 3   defense          801 non-null    int64
 4   height_m         801 non-null    float64
 5   hp               801 non-null    int64
 6   percentage_male  801 non-null    float64
 7   sp_attack        801 non-null    int64
 8   sp_defense       801 non-null    int64
 9   speed            801 non-null    int64
 10  type             801 non-null    object
 11  weight_kg        801 non-null    float64
 12  generation       801 non-null    int64
 13  is_legendary     801 non-null    int64
dtypes: float64(3), int64(9), object(2)
memory usage: 87.7+ KB

In [ ]:
pokemon.describe()

,pokedex_number,attack,defense,height_m,hp,percentage_male,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000
mean,401.000000,77.857678,73.008739,1.163892,68.958801,48.285268,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,231.373075,32.158820,30.769159,1.066737,26.576015,26.443910,32.353826,27.942501,28.907662,107.979179,1.930420,0.282583
min,1.000000,5.000000,5.000000,0.100000,1.000000,-1.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,201.000000,55.000000,50.000000,0.600000,50.000000,50.000000,45.000000,50.000000,45.000000,9.300000,2.000000,0.000000
50%,401.000000,75.000000,70.000000,1.000000,65.000000,50.000000,65.000000,66.000000,65.000000,28.500000,4.000000,0.000000
75%,601.000000,100.000000,90.000000,1.500000,80.000000,50.000000,91.000000,90.000000,85.000000,61.500000,5.000000,0.000000
max,801.000000,185.000000,230.000000,14.500000,255.000000,100.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000

## Estrategia a seguir con los valores nulos

Como podemos observar hay algunas columnas con algunos registros con valores nulos:

- height_m
- percentage_male
- weight_kg

A continucacion las enumero:

In [40]:
#Enumerar registros con valores nulos de la columna height_m
print(pokemon[pokemon['height_m'].isnull()])

Empty DataFrame
Columns: [pokedex_number, name, attack, defense, height_m, hp, percentage_male, sp_attack, sp_defense, speed, type, weight_kg, generation, is_legendary]
Index: []

In [41]:
#Enumerar registros con valores nulos de la columna percentage_male
print(pokemon[pokemon['percentage_male'].isnull()])

Empty DataFrame
Columns: [pokedex_number, name, attack, defense, height_m, hp, percentage_male, sp_attack, sp_defense, speed, type, weight_kg, generation, is_legendary]
Index: []

In [42]:
#Enumerar registros con valores nulos de la columna weight_kg
print(pokemon[pokemon['weight_kg'].isnull()])

Empty DataFrame
Columns: [pokedex_number, name, attack, defense, height_m, hp, percentage_male, sp_attack, sp_defense, speed, type, weight_kg, generation, is_legendary]
Index: []

In [43]:
#Por curiosidad revise si los pokemon que tienen valores nulos en las columnas peso 
# y altura son los mismos ya que vi a simple vista alguna concidencia
pokemon[pokemon['weight_kg'].isnull()].equals(pokemon[pokemon['height_m'].isnull()])
#Resulta que si que son los mismos

True

In [44]:
pokemon_with_null = pokemon[pokemon['percentage_male'].isnull()]['name'].tolist()
print(pokemon_with_null)

[]

Con "height_m" y "weight_kg" como son valores cuya importancia es nula o nula exceptuando casos muy concretos he decidido rellenarlos con la media del resto de registros.


En cambio con "porcentage_male", tras investigar he llegado a la resolucion de que todos los pokemon cuyo valor es nulo en porcentage_male" no tienen genero, por lo que aquellos registros que sean nulos pondre -1 ya que esta columna no es nada importante y no la utilizare para realizar el aprendizaje automatico.

In [ ]:
## Rellenar height_m y weight_kg con la media de los Pokémon que sí tienen datos
pokemon['height_m'].fillna(pokemon['height_m'].mean(), inplace=True)
pokemon['weight_kg'].fillna(pokemon['weight_kg'].mean(), inplace=True)

# Rellenar percentage_male con -1
pokemon['percentage_male'].fillna(-1, inplace=True)

## Transformacion de valores

He decidido normalizar los valores de las caracteristicas base (Ataque, Defensa, Ataque especial, defensa especial, velocidad, y Puntos de Salud)